Package: com.victorlobe.googlefix
Name: GoogleFix
Version: 1.0.1
Architecture: iphoneos-arm
Description: Fixes Google on iOS 6
Maintainer: Victor
Author: Victor
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
